<h1>Admin page</h1>

<div class="panel panel-default items">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>type of product</th>
        <th>how many</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          the products
        </td>
        <td>
          <%= @product_count %>
        </td>
      </tr>
      <tr>
        <td>
          What it is :
        </td>
        <td>
          <%= @category_list.count %>
        </td>
      </tr>
    </tbody>
  </table>
</div> 